@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
  padding: 0;
  margin: 0;
}

.samen{
  background-color: #777;
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px #000;


}

a{
  text-decoration: none;
}

.button{
  color: black;
  margin-left: 100px;
  margin-left: 40px;
}

.samen:visited{
  color: black;
}

.btn{
  margin-left: 40px;
}

.grid{
  padding: 1em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 2em;

}

.foto{
  max-width: 100%;
}


.titel{
  font-size: 1.5em;
  font-family: 'Nunito';
}

.artiest, .album, .cover, .duur{
  font-family: 'Nunito';
}
